<%= form_with(model: exercise) do |form| %>
  <% if exercise.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% exercise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div> 

  <div>
    <%= form.label :intensity %>
    <%= form.number_field :intensity, in: 1..10 %>
  </div> 

  <div>
    <%= form.submit %>
  </div>
<% end %>
