<!DOCTYPE html>
<html>
  <head>
    <title>ExerciseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <p style="color: green"><%= notice %></p>
  <% if !user_signed_in?  %>
    <%= button_to "Log in", new_user_session_path, method: :get %>
  <% else %>
    <%= button_to "Log out", destroy_user_session_path, method: :delete %>
  <% end %>
  <%= button_to "New Routine", new_routine_path, method: :get %>
  <%= button_to "New Exercise", new_exercise_path, method: :get %>
    <%= yield %>
  </body>
</html>
